body , h2 , h3 ,p{
  font-family:cursive;
      text-align: center; 
}

div{
  text-align: center;
  
}

#companyName{
text-align: right;
}

a , button{
  font-family:cursive;
  text-align: center;
padding: 15px 25px;
margin: auto;
background-color: white;
color: rgb(151, 0, 0);
text-decoration: none;
border: 1.5px solid green;
margin: 12px;
border-radius: 2em;

  }

  button:hover {
      background-color: green;
      color: white;
    }

    #button2{
      font-family:cursive;
      text-align: center;
    padding-bottom: 3.5px ;
    padding-top : 3.5px; 
    /* margin: auto; */
    background-color: unset;
    color: rgb(151, 0, 0);
    text-decoration: none;
    border: 1.5px solid green;
  margin: 6px;
 
      }

/* ----get coupon---- */
    #c2 {
      margin-block-end: 18px;
      padding-block-start: 18px;
      padding-block-end: 18px;
      margin-inline-start: auto;
      margin-inline-end: auto;
      padding: 50px;
      width: 70%;
  } 
  
  table {
      background-color:ghostwhite ;
  
      position: sticky;
      margin-inline-start: auto;
      margin-inline-end: auto;
      border-collapse: collapse;
      width: 100%;
   }
  
   th , td{
      text-align: left;
      padding: 10px;
      
  }
  table {
      border-collapse: collapse;
      width: 40%;
      text-align: left;
    }

/* Full-width input fields */
input , select{
/* font-family:cursive; */
font-size:14px;
  /* width: 30%; */
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  

 
}

#amount{
  width: 12%;
  padding: 4px 4px 4px;

}

.description{
  padding: 0px;
  padding-inline-start: 6px ;
  padding-top: 6px;
  padding-bottom: 80px;
  padding-right: 50px;
  text-align : left;
  
   
}

/* Set a style for all buttons */
#confirm {
  background-color: #4CAF50;
  color: white;
  padding: 12px 16px;
  margin: 6px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

  /* Set a style for all buttons */
   #reste{
    font-family:cursive;
    background-color: rgb(77, 173, 80);
    color: white;
    padding: 2px 4px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 6%;
    font-size:15px;
    text-align: center;
    border-radius: 2em;

  }

button:hover {
  opacity: 0.8;
}

footer{
    padding: 50px;
margin: 50pxx

}

form , div{
    font-size: 16px;
}

p{
  color: rgb(4, 2, 110); 
  font-size: 15px;
  font-family: cursive;
}

.area{
  text-align: center;
      font-size:16px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
  opacity: 0.3;  
  }