    <div class="form">
<!-- <form class="login-form"> -->
    <input type="text" placeholder="Enter your name" [(ngModel)]="user_name"/>
            <!-- <h1>{{user_name}}</h1> -->
<h1></h1>
<input type="password" placeholder="Enter your password" [(ngModel)]="password"/>
                <h1></h1>
            <button (click)="submit()">אישור</button>
        <!-- </form> -->

          <!-- <form class="login-form"> -->
            <input type="text" placeholder="Enter your name" [(ngModel)]="custName"/>
            <!-- <h1>{{user_name}}</h1> -->
<h1></h1>
<input type="password" placeholder="Enter password" [(ngModel)]="password2"/>
                <h1></h1>

<input type="text" placeholder="Enter your phone" [(ngModel)]="custPhone"/>
                <h1></h1>
<input type="text" placeholder="Enter your email" [(ngModel)]="userEmail"/>
                <h1></h1>

            <button (click)="register()">Register</button>
        <!-- </form> -->
</div>